<div class="container mt-3">
  <div class="mb-3">
    <h1>Edit Weekly Goals for <%= @weekly_goal.week.name %> - <%= @weekly_goal.week.sprint.name %></h1>
  </div>
  <%= render 'form', weekly_goal: @weekly_goal, weekly_slots: @weekly_slots %>
</div>
