<h1>New Weekly Goal for <%= @current_week&.sprint&.name %> - <%= @current_week&.name %></h1>

<%= render 'form', weekly_goal: @weekly_goal, weekly_slots: @weekly_slots %>


<%= link_to "Back", weekly_goals_path %>
