<h1>Admission Update</h1>

<p>Dear <%= @user.full_name %>,</p>

<p><%= @message.html_safe %></p>

<p>Please log in to your account to review the details.</p>
<p>If you have any questions, please contact the Worktools Team.</p>

<p>Best regards,</p>
<p>Worktools Team</p>
