<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @name %>,</p>

    <p>Did you know you have access to Worktools – our online platform where you can follow your child's learning journey in real time? From academic progress to attendance, punctuality, and more, it's all there in one place.</p>

    <p>If you haven't had the chance to log in yet, your access details are just below. You'll be able to set your own password once you're in.</p>
    <p>If you've already explored the platform – great! You're already one step ahead 😊</p>

    <ul>
      <li><strong>Email:</strong> <%= @email %></li>
      <li><strong>Password:</strong> <%= @password %></li>
    </ul>

    <p>Be Brave always</p>
  </body>
</html>
