<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to Worktools, <%= @parent.full_name %>!</h1>

    <p>We’re excited to have you on board. Here are your login details:</p>

    <ul>
      <li><strong>Email:</strong> <%= @parent.email %></li>
      <li><strong>Password:</strong> <%= @password %></li>
    </ul>

    <p>To log in, please visit worktools.site and use the above credentials.</p>

    <p>If you have any questions or need assistance, please don’t hesitate to reach out. Additionally, we value your feedback. Feel free to email any thoughts or suggestions to <a href="mailto:luis@bravegenerationacademy.com">luis@bravegenerationacademy.com</a>.</p>

    <p>Welcome again, and we’re looking forward to supporting your journey with us!</p>

    <p>Best regards,</p>
    <p>Brave Generation Academy</p>
  </body>
</html>
