<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Worktools.site</title>
</head>
<body>
  <h1>Hello <%= @user.full_name %>,</h1>
  <p>Welcome to Worktools! We're glad to have you with us.</p>
</body>
</html>
