<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>Edit Exam Finance</h2>
    </div>
    <div class="card-body">
      <%= render 'form', exam_finance: @exam_finance %>
    </div>
  </div>
</div>
