<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-black" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h3 class="fw-bold mb-2 text-uppercase">Forgot your password?</h3>
              <p class="text-black-50 mb-5">Please enter your email address below to receive reset password instructions.</p>

              <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= f.error_notification %>

                <div class="form-outline form-black mb-4">
                  <%= f.input :email,
                              required: true,
                              autofocus: true,
                              input_html: { class: "form-control form-control-lg", autocomplete: "email" } %>
                </div>

                <p class="text-black-50 mb-5">Check your email inbox after submiting the form</p>

                <div class="form-actions">
                  <%= f.button :submit, "Send me reset password email", class: "btn btn-primary" %>
                </div>
              <% end %>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
