<body>
    <div class="container">
        <h1>About worktools.site</h1>
        <p>Our app is currently under development. We're working hard to bring you a tool that helps manage your academic and personal life effectively. The app features:</p>
        <ul>
            <li><strong>Timelines:</strong> Set deadlines for each topic across different subjects.</li>
            <li><strong>Holidays:</strong> Create custom holidays to keep track of your off days.</li>
            <li><strong>Weekly Goals:</strong> Plan your weekly objectives, enhancing productivity and focus.</li>
            <li><strong>Reflection (KDAs and Sprint Goals):</strong> Reflect on your KDAs and assess progress towards your sprint goals.</li>
        </ul>
        <p>While we're in this phase, your feedback is incredibly valuable to us. It helps us to understand your needs better and incorporate your ideas into our development process.</p>
        <div class="feedback-invite">
            <p>We welcome any feedback or suggestions you have. Please don't hesitate to share your thoughts with us as we continue to improve and tailor our app to your needs.</p>
        </div>
    </div>
</body>
