<%= turbo_page_requires_reload %>
<div class="container">
  <% if current_user.role != 'guardian' %>
      <%= render 'pages/partials/lc_view', learner: @learner %>,
  <% else %>
      <%= render 'pages/partials/parent_view' %>,
  <% end %>
</div>
