<%= turbo_frame_tag "lp_weekly_goal" do %>
  <div class="paginator d-flex justify-content-between mb-3 align-items-center position-relative">

    <div class="d-flex gap-2 position-absolute top-50 start-50 translate-middle">
      <%= button_to change_weekly_goal_path(date: @current_date - 7, current_week_id: current_week.id, learner_id: learner.id, current_date: current_date), method: :get, class: "btn btn-outline-secondary rounded d-flex align-items-center h-100", data: { turbo_frame: 'lp_weekly_goal' } do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
      <% date_today = (Date.today.saturday? || Date.today.sunday?) ? Date.today - 2 : Date.today %>
      <%= button_to change_weekly_goal_path(date: date_today, current_week_id: current_week.id, learner_id: learner.id, current_date: current_date), method: :get, class: "btn btn-outline-secondary rounded d-flex align-items-center", data: { turbo_frame: 'lp_weekly_goal' } do %>
        This Week
      <% end %>
      <%= button_to change_weekly_goal_path(date: current_date + 7, current_week_id: current_week.id, learner_id: learner.id, current_date: current_date), method: :get, class: "btn btn-outline-secondary rounded d-flex align-items-center h-100", data: { turbo_frame: 'lp_weekly_goal' } do %>
        <i class="fa-solid fa-chevron-right"></i>
      <% end %>
    </div>
  </div>
  <br>

    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card shadow-sm mb-5" style="border-radius: 10px;">
            <div class="pt-4">
              <div class="container">
                <div class="table-responsive">
                  <table class="table table-bordered text-center">
                    <thead>

                      <th>Monday</th>
                      <th>Tuesday</th>
                      <th>Wednesday</th>
                      <th>Thursday</th>
                      <th>Friday</th>
                    </thead>
                    <tbody>
                      <tr><td>10:27</td><td>10:02</td><td>9:13</td><td class="text-danger"><i class="fa-regular fa-circle-xmark"></i></td><td>10:37</td></tr>
                      <tr><td>16:54</td><td>17:01</i></td><td>17:38</td><td class="text-danger"><i class="fa-regular fa-circle-xmark"></i></td><td>16:54</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
