<div class="mb-5">
  <div class="card mb-2 shadow-sm px-2 responsive-card" style="border-radius: 10px">
    <div class="px-2 overflow-auto">
      <table class="table">
        <thead>
          <tr>
            <th style="text-align: left;">Subject</th>
            <th>The challenges you might encounter.</th>
            <th>The plan to overcome the challenges</th>
          </tr>
        </thead>
        <tbody>
          <% @sg_knowledges&.each do |skill| %>
            <tr>
              <td style="text-align: left;"><%= skill.subject_name %></td>
              <td><%= skill.difficulties %></td>
              <td><%= skill.plan %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if (@skills.nil? || @skills&.empty?) && (@communities.nil? || @communities&.empty?) %>
        <div class="text-center py-5">
          <h2>No Skills or Community Goals yet...</h2>
          <p>Please help <%= @learner.full_name %> fill out their Skills and Community goals</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
