<div class="mb-4">
  <div class="card mb-2 shadow-sm px-2 responsive-card" style="border-radius: 10px">
    <div class="px-2 overflow-auto">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <% @current_sprint_weeks.each do |week| %>
              <th class="week-header">
                <div class="week-name-container">
                  <div class="week-name"><%= week.week_name_abbr %></div>
                </div>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left;">Weekly Goals</td>
            <% @current_sprint_weeks.each do |week| %>
              <% if @weekly_goals_status[week.id] %>
                <% if week.start_date <= Date.today %>
                  <td class="text-success"><i class="fa-regular fa-circle-check"></i></td>
                <% else %>
                  <td></td>
                <% end %>
              <% elsif week.name.include?("Build") %>
                <td><i class="fa-solid fa-hammer"></i></td>

              <% elsif week.name.include?("break") %>
                <td><i class="fa-regular fa-calendar-xmark"></i></td>
              <% elsif Array(@holiday_weeks).include?(week.id) %>
                <td><i class="fa-solid fa-plane-departure"></i></td>
              <% else %>
                <% if week.start_date <= Date.today %>
                  <td class="text-danger"><i class="fa-regular fa-circle-xmark"></i></td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <td style="text-align: left;">KDA's</td>
            <% @current_sprint_weeks.each_slice(4) do |week_group| %>
              <% past_or_current = week_group.any? { |week| week.start_date <= Date.today } %>
              <% if past_or_current %>
                <% completed = week_group.any? { |week| @kda_status[week.id] } %>
                <% holiday_weeks_in_group = week_group.count { |w| Array(@holiday_weeks).include?(w.id) } %>
                <% if completed %>
                  <td colspan="4" style="text-align: center; padding: 5px; position: relative;">
                    <div style="display: inline-block; width: 100%; height: 100%; padding: 8px; border: 2px solid lightgreen; box-sizing: border-box; border-radius: 5px;">
                      <i class="fa-regular fa-circle-check text-success"></i>
                    </div>
                  </td>
                <% elsif holiday_weeks_in_group >= 3 %>
                  <td colspan="4" style="text-align: center; padding: 5px; position: relative;">
                    <div style="display: inline-block; width: 100%; height: 100%; padding: 8px; box-sizing: border-box; border-radius: 5px; border: 2px solid black;">
                      <i class="fa-solid fa-plane-departure"></i>
                    </div>
                  </td>
                <% else %>
                  <td colspan="4" style="text-align: center; padding: 5px; position: relative;">
                    <div style="display: inline-block; width: 100%; height: 100%; padding: 8px; border: 2px solid red; box-sizing: border-box; border-radius: 5px;">
                      <i class="fa-regular fa-circle-xmark text-danger"></i>
                    </div>
                  </td>
                <% end %>
              <% else %>
                <td colspan="4"></td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <td style="text-align: left;">Unjustified Absences</td>
            <% @current_sprint_weeks.each do |week| %>
              <% if week.start_date <= Date.today %>
                <td><%= @absences_count[week.id] %></td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>
          </tr>
          <tr>
            <td style="text-align: left;">Time at the Hub</td>
            <% @current_sprint_weeks.each do |week| %>
              <% if week.start_date <= Date.today %>
                <td><%= format_time_spent((@time_spent[week.id] || 0).to_i) %></td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-center gap-4 small mt-2 build-week justify-content-center" style="padding-top: 12px; padding-bottom: 24px;">
      <div><span class="text-success"><i class="fa-regular fa-circle-check"></i></span>  Done</div>
      <div><span class="text-danger"><i class="fa-regular fa-circle-xmark"></i></span>  Not done</div>
      <div><i class="fa-solid fa-hammer"></i>  Build Week</div>
      <div><i class="fa-solid fa-plane-departure"></i>  Holiday</div>
    </div>
  </div>
</div>
