<%= render 'form', moodle_timeline: @moodle_timeline %>
<br>
<hr>
<div class="row justify-content-center">
  <%= image_tag "rules.png"%>
</div>
<br>
<h2 class="card-title text-center mb-4">IGCSE's</h2>
<div class="row justify-content-center">
  <%= image_tag "IGCSE.png" %>
</div>
<br>
<h2 class="card-title text-center mb-4">A-Levels</h2>
<div class="row justify-content-center">
  <%= image_tag "A-Levels.png" %>
</div>
