<!-- app/views/forms/index.html.erb -->
<div class="container mt-5">
  <div class="row">
    <% @forms.each do |form| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h2 class="card-title h5"><%= form.title %></h2>
            <p class="card-text text-muted">
              <strong>Scheduled:</strong> <%= form.scheduled_date.strftime("%B %d, %Y") %>
            </p>
          </div>
          <div class="card-footer bg-transparent border-top-0">
            <% if @user_responses.key?(form.id) %>
              <!-- Edit Responses Button -->
              <%= link_to "Edit Responses", edit_form_response_path(form, @user_responses[form.id]), class: "btn btn-success btn-sm w-100" %>
            <% else %>
              <%= link_to "Complete Form", new_form_response_path(form), class: "btn btn-primary btn-sm w-100" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<style>
  .btn-success, .btn-primary {
  color: white !important;
}
</style>
