.navbar-lewagon {
  justify-content: space-between;
  background: #D5F000;
  max-height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
