.navbar-lewagon {
  flex-grow: 0;
  padding-top: constant(safe-area-inset-top); // iOS < 11.2
  padding-top: env(safe-area-inset-top); // iOS >= 11.2
  background-color: #D6F10E;
  position: sticky;
  top: 0;
  z-index: 1000;

  .container-fluid {
    padding-top: 10px;
    @supports (padding-top: constant(safe-area-inset-top)) {
      padding-top: calc(10px + constant(safe-area-inset-top));
    }
    @supports (padding-top: env(safe-area-inset-top)) {
      padding-top: calc(10px + env(safe-area-inset-top));
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
